[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/freetype"]
	path = vendors/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
